<!--The content below is only a placeholder and can be replaced.-->
<body class="bg">
  <div class="ui sidebar inverted vertical menu right" >
    <a class="item">
      1
    </a>
    <a class="item">
      2
    </a>
    <a class="item">
      3
    </a>
  </div>
  <div class="pusher">

  <sm-menu title="DryTime" class="inverted" background="#34373c" logo="https://i.imgur.com/gia9AHp.png">
    <a sm-item *ngFor="let item of items" [icon]="item.icon" onclick="employeeShow();">{{item?.title}}</a>

    <sm-menu class="menu right secondary">
        <a sm-item href="#/elements/menu" 
            image="https://cdn.pixabay.com/photo/2016/09/28/02/14/user-1699635_960_720.png">User Name</a>
        <a sm-item icon="sidebar big" onclick="$('.ui.sidebar').sidebar('toggle');" ></a>
    </sm-menu>
</sm-menu>
  
<div style="text-align:center">
  <h1>
    {{title}}
  </h1>
  <img width="150" alt="DryTime Logo" src="https://i.imgur.com/gia9AHp.png">
</div>




<div style="text-align:center" class="cntr">

 

  <app-database>
    
     </app-database>

</div>




</div>
</body>